/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* MOBILE PHONT LAYOUT */

@media screen and (max-width:1200px){

body {
    width: 100%;
    font-family: 'Public Sans', sans-serif;
}

.hiddenMobile{
    display: none;
}

/* MOBILE HEADER AND IMAGE BACKGROUND */

.mobileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    z-index: 3;
    background: white;
    position: relative;
}

.bgIntroMobile {
    min-height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.mainWrapper{
    position: relative;
    left: 0;
    width: 100%;
}

.mainLeft {
    bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
}

.phonesMobile {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 100px;
    z-index: 2;
    display: block;
    margin: 0 auto;
}

/* MOBILE MAIN */


main {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    bottom: 30px;
}

main h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    line-height: 2.5rem;
}

main p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: hsl(233, 8%, 62%)
}

main button, footer button {
    background: linear-gradient(-50deg, hsl(192, 70%, 51%) 8%, hsl(136, 65%, 51%) 92%);
    border: none;
    height: 45px;
    width: 150px;
    border-radius: 50px;
}

main button a, footer button a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

/* MOBILE WHY CHOOSE EASYBANK SECTION */

.whyChooseEasybank {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 50px 30px;
    background: hsl(220, 16%, 96%);
    position: relative;
    bottom: 50px;
}

.whyChooseEasybankTitle {
    font-size: 1.8rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    line-height: 2rem;
    padding: 0 50px;

}

.whyChooseEasybank h2 {
font-size: 1.2rem;
font-weight: 300;
color: hsl(233, 26%, 24%);
line-height: 2rem;
padding: 0 50px;
}

.whyChooseEasybank div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whyChooseEasybank svg {
    display: block;
    margin: 0 auto;
}

.whyChooseEasybank p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: hsl(233, 8%, 62%)
}

/* MOBILE LATEST ARTICLES */

.latestArticles {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: hsl(0, 0%, 98%);
    padding: 40px 0;
}

.latestArticles h2 {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    color: hsl(233, 26%, 24%);
    
}

.latestArticles img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.latestArticles div {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 4px;
    background: white;
    gap: 15px;
    font-weight: 300;
}

.latestArticles div span, .latestArticles div h4, .latestArticles div p {
    padding: 0 25px;
}

.latestArticles div span {
    padding-top: 20px;
    font-size: 0.75rem;
    color: hsl(233, 8%, 62%);
}

.latestArticles div h4 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: hsl(233, 26%, 24%);
}

.latestArticles div p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    color: hsl(233, 8%, 62%);
    padding-bottom: 30px;
}

/* MOBILE FOOTER */

footer {
    background: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    color: white;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footerLogoSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.footerNav ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footerNav ul li a {
    font-weight: 300;
    font-size: 0.9rem;
}


footer span {
    font-size: 0.8rem;
    padding-bottom: 30px;
    color: hsl(233, 8%, 62%);
}

.center {
    text-align: center;
    padding: 20px 10px;
}

}


@media screen and (min-width:1200px){

body {
    font-family: 'Public Sans', sans-serif;
    }

/***** DESKTOP HEADER *****/

.desktopHidden {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background: white;
    border: 1px solid red;
    z-index: 3;
    position: relative;
}

header nav ul {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

header nav ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
}

main button, footer button, header button {
    background: linear-gradient(-50deg, hsl(192, 70%, 51%) 8%, hsl(136, 65%, 51%) 92%);
    border: none;
    height: 45px;
    width: 150px;
    border-radius: 50px;
}

main button a, footer button a, header button a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.85rem;
    letter-spacing: 0.75px;
}

/***** DESKTOP MAIN *****/

main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background: none;
    overflow: hidden;
}

.mainLeft {
    width: 50%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 150px;
    align-items: flex-start;
    gap: 30px;
    
    
}

.bgIntroMobile {
    width: 150%;
    position: absolute;
    
    left: -100px;
    z-index: 2;
}

.mainWrapper{
    position: relative;
    left: 0;
    width: 50%;
    z-index: 2;
}


.phonesMobile {
    width: 100%;
    position: relative;
    z-index: 2;
    
    left: 15%;
}

.mainLeft h1 {
    font-size: 3.5rem;
    font-weight: 300;
    border: 1px solid red;
    line-height: 4rem;
    width: 55%;
    color: hsl(233, 26%, 24%);
}

.mainLeft p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 55%;
    color: hsl(220, 8%, 62%);
    font-weight: 300;
}

/***** DESKTOP WHY CHOOSE EASYBANK *****/

.whyChooseEasybank {
    display: flex;
    flex-direction: column;
    padding: 100px 150px;
    gap: 50px;
    background: hsl(220, 16%, 96%);
    position: relative;
    
}

.whyChooseEasybankHeading {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 300;
}

.whyChooseEasybankHeading p {
    border: 1px solid red;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: hsl(233, 8%, 62%)
}

.whyChooseEasybankTitle {
    border: 1px solid red;
    font-size: 3rem;
    color: hsl(233, 26%, 24%);
}

.fourSections {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.fourSections div {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fourSections div h2 {
    font-size: 1.5rem;
    color: hsl(233, 26%, 24%);
}

.fourSections div p {
    color: hsl(233, 8%, 62%);
    line-height: 1.5rem;

}

/******** LATEST ARTICLES MONITOR *********/

.latestArticles {
    background: hsl( 0, 0%, 98%);
    position: relative;
    bottom: 400px;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.latestArticles h2 {
    font-size: 3rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.articles {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    border: 1px solid red;
}



.articles img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.articles div {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid red;
    gap: 15px;
    font-weight: 300;
    border-radius: 12px;
    padding-bottom: 25px;
}

.articles div span, .articles div h4, .articles div p {
    padding: 0 25px;
}

.articles div span {
    padding-top: 15px;
    font-size: 0.75rem;
    color: hsl(233, 8%, 62%);
}

.articles div h4 {
    color: hsl(233, 26%, 24%);
    width: 58%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    
}

.articles div p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    width: 80%;
    color: hsl(233, 8%, 62%);
}






}
